body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url(fundo.jpg);

}

.container{
  margin: auto;
  margin-top: 50px;
  background-color: blue;
  width: 1000px;
  height: 600px;
}

.formulario{
  background-color: #ccc;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
select {
  width: 80%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  cursor: pointer;
}


