body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url(fundo.jpg);
}

table {
  width: 100%;
  border-collapse: collapse;
  
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;

}

th {
  background-color: #a8a6a6;
}

form {
  display: inline-block;
}

button {
  padding: 5px 10px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.button3 {
  background-color: #f44336;
}


.button a {
  text-decoration: none;
  color: white;
}